.toast-container {
  @apply p-0 font-rounded font-medium text-slate-900 md:bottom-12 md:right-12;
}

.toast {
  @apply relative mt-2 flex min-h-[3.5rem] rounded-md bg-white px-6 py-2 shadow;
  @apply before:absolute before:inset-0 before:w-1 before:bg-current;
}

.toast::before {
  clip-path: inset(0 -6px 0 0 round 6px);
}

.toast-error {
  @apply text-red-500;
}

.toast .Toastify__close-button {
  @apply ml-4 self-center text-slate-200 opacity-100 hover:text-slate-900;
}

.toast-body {
  @apply p-0;
}

.toast a {
  @apply underline decoration-slate-200 hover:decoration-current;
}

@keyframes toast-enter {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes toast-exit {
  0% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: translateX(2rem);
    opacity: 0;
  }
}

.toast-enter {
  animation: toast-enter 0.3s ease-in-out both;
}

.toast-exit {
  animation: toast-exit 0.3s ease-in-out both;
}
