.toast-container {
  @apply text-slate-900 font-rounded md:right-12 md:bottom-12 p-0 font-medium;
}

.toast {
  @apply min-h-[3.5rem] relative flex px-6 py-2 mt-2 bg-white rounded-md shadow;
  @apply before:absolute before:inset-0 before:w-1 before:bg-current;
}

.toast::before {
  clip-path: inset(0 -6px 0 0 round 6px);
}

.toast-error {
  @apply text-red-500;
}

.toast .Toastify__close-button {
  @apply text-slate-200 hover:text-slate-900 self-center ml-4 opacity-100;
}

.toast-body {
  @apply p-0;
}

.toast a {
  @apply decoration-slate-200 hover:decoration-current underline;
}

@keyframes toast-enter {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes toast-exit {
  0% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: translateX(2rem);
    opacity: 0;
  }
}

.toast-enter {
  animation: toast-enter 0.3s ease-in-out both;
}

.toast-exit {
  animation: toast-exit 0.3s ease-in-out both;
}
