@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-slate-900;
    font-size: 1em;
  }

  a,
  button,
  input,
  label,
  select,
  textarea {
    @apply transition;
    transition-duration: 200ms;
  }

  a,
  button {
    @apply outline-none focus:ring-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

@layer components {
  .link,
  .button {
    @apply font-rounded font-medium;
  }

  .link {
    @apply text-orange-400 hover:text-orange-600;
  }

  .button {
    @apply relative inline-block rounded-full bg-orange-400 px-6 py-3 text-white;
  }

  .button:not([disabled]) {
    @apply hover:bg-orange-600;
  }

  .button[disabled] {
    @apply cursor-not-allowed;
  }

  .button-full {
    @apply w-full;
  }

  .content {
    @apply my-6 rounded-xl bg-white p-8 shadow-lg;
    width: min(100%, 40rem);
  }

  .content-soft {
    @apply rounded-[2.75rem];
  }

  .content-sm {
    width: min(100%, 24rem);
  }
}
